@media screen and (max-width: 500px) {
    .App #about section {
        width: 100%;
    }

    #about section:not(:last-child) {
        border-bottom: 2px solid #d5d5d5;
    }
}

#about {
    background-color: #13121A;
    display: flex;
    flex-direction: column;
    padding: 10px 10%;
}

#about h2 {
    flex: 0 0 99%;
    width: 100%;
}

#about section {
    width: 45%;
}

#about section:nth-child(2n+1) {
    margin-right: 0;
    margin-left: auto;
}

.emphasis {
    font-weight: bold;
    color: #B7B5F4;
}
