#about {
    background-color: #13121A;
    color: #C6DFF5;
    display: flex;
    flex-direction: column;
    padding: 10px 10%;
}

#about h2 {
    flex: 0 0 99%;
    margin: 0;
    font-size: 32px;
    width: 100%;
}

#about div {
    width: 40%;
}

#about div:nth-child(2n+1) {
    margin-right: 0;
    margin-left: auto;
}

.emphasis {
    font-weight: bold;
    color: #BCA4AB;
}
