@media screen and (max-width: 500px) {
    .App .projectContainer {
        flex-direction: column;
    }

    .App .projectContainer:not(:last-child) {
        border-bottom: 2px solid white;
    }

    .App .projectContainer .imageContainer {
        width: 100%;
    }

    .projectContainer .descContainer {
        width: 100%;
    }
}

.projectContainer {
    width: 80%;
    margin: auto;
    padding: 2% 0;
    display: flex;
    flex-direction: row;
}

.projectContainer:not(:last-child) {
    border-bottom: 2px solid white;
}

.projectContainer .imageContainer {
    width: 35%;
    height: 35%;
    margin: auto;
}

.projectContainer img {
    max-width: 100%;
}

.descContainer {
    width: 60%;
    margin: auto;
}

.descContainer p {
    font-family: 'Montserrat';
    font-size: 18px;
}

#hProject .imageContainer {
    background: url(/bannerImages/nav_background.png) bottom no-repeat;
    background-color: #08000f;
}

#sProject .imageContainer {
    background: url(/bannerImages/stardewMountains.png) bottom no-repeat;
    background-size: 100%;
}

#sProject img {
    margin-bottom: -9px;
}
